<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/paper.css">

</head>
<body style="background-image: url('/dot-grid.webp')">
<nav class="background-primary border-2  child-borders split-nav">
    <div class="nav-brand ">
        <h3 style="width: 300px"><a href="/login-page" style="flex: auto">COLLABORATIO <img style="float: right;border: none" src="/images/logo-withoutbg.png" width="20%"/></a>
        </h3></div>
    <div class="collapsible margin-right-large">
        <input id="collapsible1" type="checkbox" name="collapsible1">
        <label for="collapsible1">
            <div class="bar1"></div>

        </label>
        <div class="collapsible-body">
            <ul class="inline">
                <li><a href="/registerNewUser">Register</a></li>

            </ul>
        </div>
    </div>
</nav>
<h1>Login Site</h1>

<form  action="/login" method="post">
    <input style="text-align: center" type="text" name="userName" placeholder="userName">
    <input style="text-align: center" type="password" name="password" placeholder="password">
    <button class="btn-success" type="submit">Login</button>
</form>

</body>
</html>