<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/paper.css">
</head>
<body>
<nav class="background-primary border-2  child-borders split-nav">
    <div class="nav-brand ">
        <h3 style="width: 300px"><a href="index.html" style="flex: auto">COLLABORATIO <img style="float: right;border: none" src="/images/logo-withoutbg.png" width="20%"/></a>
        </h3></div>
    <div class="collapsible margin-right-large">
        <input id="collapsible1" type="checkbox" name="collapsible1">
        <label for="collapsible1">
            <div class="bar1"></div>

        </label>
        <div class="collapsible-body">
            <ul class="inline">
                <li><a href="/login-page">Login</a></li>

            </ul>
        </div>
    </div>
</nav>
<h1>Insert new user</h1>
<form action="/insertNewUser" method="post">
    <input type="text" name="username" placeholder="username" >
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Submit">
</form>
</body>
</html>