<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/paper.css">
</head>
<body>
<nav class="background-primary border-2  child-borders split-nav">
    <div class="nav-brand ">
    </div>
</nav>
<div style="width: 20%;margin:auto;margin-top: 4%">
<form action="/register-submit" method="post">
    <label  for="username">User Name</label>
    <input style="margin-bottom: 4%" type="text" name="userName" placeholder="Lollypop Jackson" id="username">

    <label  for="token">Password / Token</label>
    <input  style="margin-bottom: 4%" type="password" name="token" placeholder="*********" id="token">

    <label  for="email">E-Mail</label>
    <input  style="margin-bottom: 4%" type="text" name="email" placeholder="SuperSocks@Example.com" id="email">

    <label  for="avatar">Avatar choice</label>
    <input  style="margin-bottom: 4%" type="text" name="avatar" placeholder="1...8 choose an avatar" id="avatar">

    <button style="margin-top: 4%" class="paper-btn" type="submit">Registration</button>
</form>
</div>
</body>
</html>