<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/paper.css">
</head>
<body>
<nav class="background-primary border-2  child-borders split-nav">
    <div class="nav-brand ">
        <h3 style="width: 300px"><a href="/lobby" style="flex: auto">COLLABORATIO <img style="float: right;border: none" src="/images/logo-withoutbg.png" width="20%"/></a>
        </h3>
    </div>
    <div class="collapsible margin-right-large">
        <input id="collapsible1" type="checkbox" name="collapsible1">
        <label for="collapsible1">
            <div class="bar1"></div>
        </label>
        <div class="collapsible-body">
            <ul class="inline">

                <li><a style="color: gray" href="/logout">LOGOUT</a></li>
            </ul>
        </div>
    </div>
</nav>

<h3 style="text-align: center"> Your Sessions</h3>

<div class="card" style="width: 15rem;">
    <img src="https://picsum.photos/768" alt="Card example image">

    <div class="card-body">
        <h4 class="card-title">Session Topic</h4>
        <h5 class="card-subtitle">Hints from Host</h5>
        <p class="card-text">Problem Text: a bit of it atleast</p>
        <button>Open Session</button>
    </div>
</div>

</body>
</html>